.active-secret-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin: auto;
}
.group-title {
  display: flex;
  align-items: center;
}
.secret-info {
  display: flex;
  margin: 0 0 1rem;
}
.secret-list {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.secret-input {
  width: 250px;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 5px;
  margin: 0.25rem 0;
}
.secret-input:focus-visible {
  outline: none;
  color: black;
  background-color: white;
  border-color: gray;
}
.active {
  background-color: white;
  color: black;
  border-color: gray;
}
.secret-note {
  width: 250px;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 5px;
  margin: 0.25rem 0;
}
.secret-note:focus-visible {
  outline: none;
  color: black;
  background-color: #eee;
  border-color: gray;
}